<h1>用 cookie 買 {{name}}</h1>

<p>

    <div class="card" style="width: 20rem">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <a href="/buy-dental-floss?buy=1" class="btn btn-primary btn-sm">買一{{unit}} {{ price }}</a>
            <a href="/buy-dental-floss?refund=1" class="btn btn-warning btn-sm">退一{{unit}}</a>
        </div>
    </div>
    <div>
        <div>
            <span class="badge badge-pill badge-dark"> 現金: NTD ${{ cash }}</span>
            <span class="badge badge-pill badge-Info"> {{name}} {{itemNum}} {{unit}}</span>
        </div>
    </div>
</p>
{{#if result}}
    <div class="alert alert-{{result.alertStyle}}">{{result.msg}}</div>
{{/if}}
