<h1>用 cookie 買東西</h1>

<p>
    {{# each market.items }}
        <div class="card" style="width: 20rem">
            <div class="card-body">
                <h5 class="card-title">{{.name}}</h5>
                <form method="POST" action="/market/buy">
                    <input type="hidden" name="id" value="{{.id}}" />
                    <button type="submit" class="btn btn-primary btn-sm">買一{{.unit}} {{ .price }}</button>                
                </form>
                <form method="POST" action="/market/refund">
                    <input type="hidden" name="id" value="{{ .id }}" />
                    <button type="submit" class="btn btn-warning btn-sm">退一{{.unit}}</button>                
                </form>
            </div>
        </div>
    {{/each}}
    <div>
        <div>
            <span class="badge badge-pill badge-dark"> 現金: NTD ${{ account.cash }}</span>
        </div>
        {{#each account.boughtItems}}
            <div>
                <span class="badge badge-pill badge-Info"> {{.item.name}} {{.num}} {{.item.unit}}</span>
            </div>
        {{/each}}
    </div>
</p>
{{#if result}}
    <div class="alert alert-{{result.alertStyle}}">{{result.msg}}</div>
{{/if}}
