<div class="weatherWidget">
    <ul>
    {{#each partials.weather.locations}}
        <li class="location">
            {{name}}
            <a href="{{forecastUrl}}">
                <img src="{{iconUrl}}" alt="{{weather}}" width="42" height="42" /> {{weather}}, {{temp}}
            </a>
        </li>
    {{/each}}
    </ul>
    <small>Source: <a href="http://www.wunderground.com">Weather Underground</a></small>
</div>