<nav>
    <ul class="nav nav-tabs">
        {{#each _nav }}
            {{#if link}}

            <li class="nav-item">
                <a class="nav-link" href="{{link}}">{{name}}</a>
            </li>
            
            {{else}}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{name}}</a>
                <div class="dropdown-menu">
                    {{#each links }}
                        <a class="dropdown-item" href="{{link}}">{{name}}</a>
                    {{/each}}
                </div>
            </li>

            {{/if}}
        {{/each}}
    </ul>
</nav>
