<nav>
    <ul>{{#each _nav}}
    {{#if link}}
        <li><a href="{{link}}">{{name}}</a></li>
    {{else}}
        <li>{{name}}</li>
        <ul>{{#each links}}
            <li><a href="{{link}}">{{name}}</a></li>
        {{/each}}</ul>
    {{/if}}
    {{/each}}</ul>
</nav>