

<h3><a href="/vacations/{{vacation.slug}}">{{vacation.name}}</a></h3>

<table class="table">
    <tr>
        <th>Price</th>
        <td>{{vacation.price}}</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>{{vacation.category}}</td>
    </tr>
    <tr>
        <th>附註 [<a href="/vacations/edit/{{vacation.slug}}">編輯</a>]</th>
        <td>{{vacation.notes}}</td>
    </tr>
</table>

<p class="m-3">
    <a href="/vacations">Back to index</a>
</p>